# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import pandas as pd

In [2]:
!ls

 app					   LICENSE
 data					  'ML Pipeline Preparation.ipynb'
'draft_ML Pipeline Preparation.ipynb'	   models
'draft_ML Pipeline Preparation-v1.ipynb'   README.md
'draft_ML Pipeline Preparation-v2.ipynb'   requirements.txt
'ETL Pipeline Preparation.ipynb'	   venv
 img

In [3]:
!ls data

data.sqlite		 disaster_messages.csv	process_data.py
disaster_categories.csv  DisasterResponse.db

In [4]:
# load messages dataset
messages = pd.read_csv('data/disaster_messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [5]:
# load categories dataset
categories = pd.read_csv('data/disaster_categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [6]:
# merge datasets
df = messages.merge(categories, left_on='id', right_on='id')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.duplicated().sum()

0

In [9]:
df.isnull().sum()

id                0
message           0
original      16046
genre             0
categories        0
dtype: int64

In [10]:
df.shape

(26216, 5)

In [11]:
df.drop(['original', 'id'], axis=1, inplace=True)

In [12]:
df.head()

,message,genre,categories
0,Weather update - a cold front from Cuba that c...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,Is the Hurricane over or is it not over,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,Looking for someone but no name,direct,related-1;request-0;offer-0;aid_related-0;medi...
3,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,"says: west side of Haiti, rest of the country ...",direct,related-1;request-0;offer-0;aid_related-0;medi...

In [13]:
df.shape

(26216, 3)

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [14]:
# create a dataframe of the 36 individual category columns
categories = categories['categories'].str.split(';', expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [15]:
columns_names = categories.iloc[0].values
columns_names = [each.split('-')[0] for each in columns_names]
columns_names

['related',
 'request',
 'offer',
 'aid_related',
 'medical_help',
 'medical_products',
 'search_and_rescue',
 'security',
 'military',
 'child_alone',
 'water',
 'food',
 'shelter',
 'clothing',
 'money',
 'missing_people',
 'refugees',
 'death',
 'other_aid',
 'infrastructure_related',
 'transport',
 'buildings',
 'electricity',
 'tools',
 'hospitals',
 'shops',
 'aid_centers',
 'other_infrastructure',
 'weather_related',
 'floods',
 'storm',
 'fire',
 'earthquake',
 'cold',
 'other_weather',
 'direct_report']

In [16]:
categories.columns = categories.iloc[0]

In [17]:
categories.columns = columns_names
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [19]:
# # select the first row of the categories dataframe
# row = 

# # use this row to extract a list of new column names for categories.
# # one way is to apply a lambda function that takes everything 
# # up to the second to last character of each string with slicing
# category_colnames = 
# print(category_colnames)

In [20]:
# rename the columns of `categories`
# categories.columns = category_colnames
# categories.head()

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [21]:
categories['related'].apply(lambda row: int(row.split('-')[1]))

0        1
1        1
2        1
3        1
4        1
        ..
26243    0
26244    0
26245    1
26246    1
26247    1
Name: related, Length: 26248, dtype: int64

In [22]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].apply(lambda row: int(row.split('-')[1]))
    
    # convert column from string to numeric
#     categories[column] = 
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [23]:
df.head()

,message,genre,categories
0,Weather update - a cold front from Cuba that c...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,Is the Hurricane over or is it not over,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,Looking for someone but no name,direct,related-1;request-0;offer-0;aid_related-0;medi...
3,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,"says: west side of Haiti, rest of the country ...",direct,related-1;request-0;offer-0;aid_related-0;medi...

In [24]:
df

,message,genre,categories
0,Weather update - a cold front from Cuba that c...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,Is the Hurricane over or is it not over,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,Looking for someone but no name,direct,related-1;request-0;offer-0;aid_related-0;medi...
3,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,"says: west side of Haiti, rest of the country ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
...,...,...,...
26381,The training demonstrated how to enhance micro...,news,related-0;request-0;offer-0;aid_related-0;medi...
26382,A suitable candidate has been selected and OCH...,news,related-0;request-0;offer-0;aid_related-0;medi...
26383,"Proshika, operating in Cox's Bazar municipalit...",news,related-1;request-0;offer-0;aid_related-0;medi...
26384,"Some 2,000 women protesting against the conduc...",news,related-1;request-0;offer-0;aid_related-1;medi...
26385,A radical shift in thinking came about as a re...,news,related-1;request-0;offer-0;aid_related-0;medi...

In [25]:
# drop the original categories column from `df`
df.drop('categories', axis=1, inplace=True)

df.head()

                                             message   genre
0  Weather update - a cold front from Cuba that c...  direct
1            Is the Hurricane over or is it not over  direct
2                    Looking for someone but no name  direct
3  UN reports Leogane 80-90 destroyed. Only Hospi...  direct
4  says: west side of Haiti, rest of the country ...  direct

In [26]:
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
df = pd.concat([df, categories], axis=1)

In [28]:
df.head()

,message,genre,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,Weather update - a cold front from Cuba that c...,direct,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Is the Hurricane over or is it not over,direct,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,Looking for someone but no name,direct,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"says: west side of Haiti, rest of the country ...",direct,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
df.columns

Index(['message', 'genre', 'related', 'request', 'offer', 'aid_related',
       'medical_help', 'medical_products', 'search_and_rescue', 'security',
       'military', 'child_alone', 'water', 'food', 'shelter', 'clothing',
       'money', 'missing_people', 'refugees', 'death', 'other_aid',
       'infrastructure_related', 'transport', 'buildings', 'electricity',
       'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure',
       'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold',
       'other_weather', 'direct_report'],
      dtype='object')

In [30]:
# df.drop('id', axis=1, inplace=True)

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [31]:
# check number of duplicates
df.duplicated().sum()

96

In [32]:
# drop duplicates
df.drop_duplicates(inplace=True)

In [33]:
# check number of duplicates
df.duplicated().sum()

0

In [34]:
# df.drop(['original', 'genre'], axis=1, inplace=True)

In [35]:
df.isna().sum()

message                    80
genre                      80
related                   138
request                   138
offer                     138
aid_related               138
medical_help              138
medical_products          138
search_and_rescue         138
security                  138
military                  138
child_alone               138
water                     138
food                      138
shelter                   138
clothing                  138
money                     138
missing_people            138
refugees                  138
death                     138
other_aid                 138
infrastructure_related    138
transport                 138
buildings                 138
electricity               138
tools                     138
hospitals                 138
shops                     138
aid_centers               138
other_infrastructure      138
weather_related           138
floods                    138
storm                     138
fire                      138
earthquake                138
cold                      138
other_weather             138
direct_report             138
dtype: int64

In [36]:
print(df.shape)
df.dropna(how='all', inplace=True)
df.shape

(26290, 38)

(26290, 38)

In [37]:
df.shape

(26290, 38)

In [38]:
df.dropna(subset=['related'], inplace=True)

In [39]:
df.shape

(26152, 38)

In [40]:
df.head()

,message,genre,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,Weather update - a cold front from Cuba that c...,direct,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Is the Hurricane over or is it not over,direct,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,Looking for someone but no name,direct,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"says: west side of Haiti, rest of the country ...",direct,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26152 entries, 0 to 26247
Data columns (total 38 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   message                 26072 non-null  object
 1   genre                   26072 non-null  object
 2   related                 26152 non-null  float64
 3   request                 26152 non-null  float64
 4   offer                   26152 non-null  float64
 5   aid_related             26152 non-null  float64
 6   medical_help            26152 non-null  float64
 7   medical_products        26152 non-null  float64
 8   search_and_rescue       26152 non-null  float64
 9   security                26152 non-null  float64
 10  military                26152 non-null  float64
 11  child_alone             26152 non-null  float64
 12  water                   26152 non-null  float64
 13  food                    26152 non-null  float64
 14  shelter                 26152 non-null  float64
 15  clothing                26152 non-null  float64
 16  money                   26152 non-null  float64
 17  missing_people          26152 non-null  float64
 18  refugees                26152 non-null  float64
 19  death                   26152 non-null  float64
 20  other_aid               26152 non-null  float64
 21  infrastructure_related  26152 non-null  float64
 22  transport               26152 non-null  float64
 23  buildings               26152 non-null  float64
 24  electricity             26152 non-null  float64
 25  tools                   26152 non-null  float64
 26  hospitals               26152 non-null  float64
 27  shops                   26152 non-null  float64
 28  aid_centers             26152 non-null  float64
 29  other_infrastructure    26152 non-null  float64
 30  weather_related         26152 non-null  float64
 31  floods                  26152 non-null  float64
 32  storm                   26152 non-null  float64
 33  fire                    26152 non-null  float64
 34  earthquake              26152 non-null  float64
 35  cold                    26152 non-null  float64
 36  other_weather           26152 non-null  float64
 37  direct_report           26152 non-null  float64
dtypes: float64(36), object(2)
memory usage: 7.8+ MB

In [42]:
for i in range(2, len(df.columns)):
    print(df.columns[i])
    df[df.columns[i]] = df[df.columns[i]].astype('int')

related
request
offer
aid_related
medical_help
medical_products
search_and_rescue
security
military
child_alone
water
food
shelter
clothing
money
missing_people
refugees
death
other_aid
infrastructure_related
transport
buildings
electricity
tools
hospitals
shops
aid_centers
other_infrastructure
weather_related
floods
storm
fire
earthquake
cold
other_weather
direct_report

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26152 entries, 0 to 26247
Data columns (total 38 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   message                 26072 non-null  object
 1   genre                   26072 non-null  object
 2   related                 26152 non-null  int64
 3   request                 26152 non-null  int64
 4   offer                   26152 non-null  int64
 5   aid_related             26152 non-null  int64
 6   medical_help            26152 non-null  int64
 7   medical_products        26152 non-null  int64
 8   search_and_rescue       26152 non-null  int64
 9   security                26152 non-null  int64
 10  military                26152 non-null  int64
 11  child_alone             26152 non-null  int64
 12  water                   26152 non-null  int64
 13  food                    26152 non-null  int64
 14  shelter                 26152 non-null  int64
 15  clothing                26152 non-null  int64
 16  money                   26152 non-null  int64
 17  missing_people          26152 non-null  int64
 18  refugees                26152 non-null  int64
 19  death                   26152 non-null  int64
 20  other_aid               26152 non-null  int64
 21  infrastructure_related  26152 non-null  int64
 22  transport               26152 non-null  int64
 23  buildings               26152 non-null  int64
 24  electricity             26152 non-null  int64
 25  tools                   26152 non-null  int64
 26  hospitals               26152 non-null  int64
 27  shops                   26152 non-null  int64
 28  aid_centers             26152 non-null  int64
 29  other_infrastructure    26152 non-null  int64
 30  weather_related         26152 non-null  int64
 31  floods                  26152 non-null  int64
 32  storm                   26152 non-null  int64
 33  fire                    26152 non-null  int64
 34  earthquake              26152 non-null  int64
 35  cold                    26152 non-null  int64
 36  other_weather           26152 non-null  int64
 37  direct_report           26152 non-null  int64
dtypes: int64(36), object(2)
memory usage: 7.8+ MB

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [44]:
from sqlalchemy import create_engine

In [45]:
df.shape

(26152, 38)

In [46]:
df.to_csv('data.csv', index=False)

In [47]:
engine = create_engine('sqlite:///data/DisasterResponse.db')
df.to_sql('message_response', engine, index=False, if_exists='replace')

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.